<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Customer Information</title>
</head>
<body>

<h1>Delete Customer Information</h1>
<form  method="post" th:object="${customer}">
    <table>
        <tr>
            <td>Name</td>
            <td th:text="${customer.getName()}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td th:text="${customer.getEmail()}"></td>
        </tr>
        <tr>
            <td>Address</td>
            <td th:text="${customer.getAddress()}"></td>
        </tr>
    </table>

    <button type="submit">Delete</button>

</form>

</body>
</html>